{% extends "templates/web.html" %}

{% block title %}Alaiy OS{% endblock %}

{% block favicon %}
<link rel="shortcut icon" href="/assets/alaiy_os_core/images/icon.png" type="image/png">
{% endblock %}

{# Hide top navbar — login page has no need for it #}
{% block navbar %}
{% if show_language_picker %}{{ super() }}{% endif %}
{% endblock %}

{% block head_include %}
{{ include_style('login.bundle.css') }}
{% endblock %}

{% macro logo_head(title=null) %}
<div class="page-card-head">
  <img class="app-logo" src="{{ logo or '/assets/alaiy_os_core/images/logo-square.png' }}" alt="{{ app_name or 'Alaiy OS' }}">
  <h4>{% if title %}{{ _(title) }}{% else %}{{ app_name or 'Alaiy OS' }}{% endif %}</h4>
</div>
{% endmacro %}

{% block page_content %}
<div>
  <noscript>
    <div class="text-center my-5">
      <h4>{{ _("Javascript is disabled on your browser") }}</h4>
      <p class="text-muted">{{ _("You need to enable JavaScript for your app to work.") }}</p>
    </div>
  </noscript>

  <section class="for-login">
    {{ logo_head() }}
    <div class="login-content page-card">
      <form class="form-signin form-login" role="form">
        {% if not disable_user_pass_login or (ldap_settings and ldap_settings.enabled) %}
        <div class="page-card-body">
          <div class="form-group">
            <label class="form-label sr-only" for="login_email">{{ login_label or _("Email") }}</label>
            <div class="email-field">
              <input type="text" id="login_email" class="form-control"
                placeholder="{{ login_name_placeholder or _('jane@example.com') }}"
                required autofocus autocomplete="username">
              <svg class="field-icon email-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use class="es-lock" href="#es-line-email"></use>
              </svg>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label sr-only" for="login_password">{{ _("Password") }}</label>
            <div class="password-field">
              <input type="password" id="login_password" class="form-control"
                placeholder="•••••" autocomplete="current-password" required>
              <svg class="field-icon password-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use class="es-lock" href="#es-line-lock"></use>
              </svg>
              <span toggle="#login_password" class="toggle-password text-muted">{{ _('Show') }}</span>
            </div>
          </div>
          {% if not disable_user_pass_login %}
          <p class="forgot-password-message">
            <a href="#forgot">{{ _("Forgot Password?") }}</a>
          </p>
          {% endif %}
        </div>
        {% endif %}
        <div class="page-card-actions">
          {% if not disable_user_pass_login %}
          <button class="btn btn-sm btn-primary btn-block btn-login" type="submit">{{ _("Login") }}</button>
          {% endif %}
          {% if ldap_settings and ldap_settings.enabled %}
          <button class="btn btn-sm {{ 'btn-primary' if disable_user_pass_login else 'btn-default' }} btn-block btn-login btn-ldap-login">
            {{ _("Login with LDAP") }}
          </button>
          {% endif %}
        </div>
      </form>
    </div>
    {% if not disable_signup and not disable_user_pass_login %}
    <div class="text-center sign-up-message">
      {{ _("Don't have an account?") }} <a href="#signup">{{ _("Sign up") }}</a>
    </div>
    {% endif %}
  </section>

  <section class="for-signup {{ 'signup-disabled' if disable_signup else '' }}">
    {{ logo_head(_('Create an Account')) }}
    <div class="login-content page-card">
      {% if not disable_signup %}
        {{ signup_form_template }}
      {% else %}
      <div class="page-card-head mb-2">
        <span class="indicator gray">{{ _("Signup Disabled") }}</span>
        <p class="text-muted text-normal sign-up-message mt-1 mb-8">
          {{ _("Signups have been disabled for this website.") }}
        </p>
        <div><a href="/" class="btn btn-primary btn-md">{{ _("Home") }}</a></div>
      </div>
      {% endif %}
    </div>
  </section>

  <section class="for-forgot">
    {{ logo_head('Forgot Password') }}
    <div class="login-content page-card">
      <form class="form-signin form-forgot hide" role="form">
        <div class="page-card-body">
          <div class="email-field">
            <input type="email" id="forgot_email" class="form-control"
              placeholder="{{ _('Email Address') }}" required autofocus autocomplete="username">
            <svg class="field-icon email-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <use class="es-lock" href="#es-line-email"></use>
            </svg>
          </div>
        </div>
        <div class="page-card-actions">
          <button class="btn btn-sm btn-primary btn-block btn-forgot" type="submit">
            {{ _("Reset Password") }}
          </button>
          <p class="text-center sign-up-message">
            <a href="#login">{{ _("Back to Login") }}</a>
          </p>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}

{% block footer %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block script %}
<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}
